body {
  font-family: system-ui;
  /* font-family: fantasy; */
  color: brown;
  color: black;
  color: rgb(255, 82, 3);
}
h1 {
  text-align: center;
  font-size: 2.2rem;
}
.gif-div {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
}

img {
  aspect-ratio: 1 / 1;
  height: 20%;
  width: 40%;
}

.tag-type {
  display: flex;
  align-content: center;
  justify-content: center;
}
button {
  height: 1.8rem;
  width: auto;
  /* margin: 1rem; */
  border-radius: 1rem;
  color: black;
  font-weight: 600;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0rem;
  font-size: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}
.comedy {
  background-color: rgb(250, 136, 250);
  &:hover {
    background-color: rgb(247, 93, 247);
  }
}
.movies {
  background-color: rgb(251, 97, 97);
  &:hover {
    background-color: rgb(232, 71, 71);
  }
}
.food {
  background-color: greenyellow;
  &:hover {
    background-color: rgb(146, 229, 22);
  }
}
.sports {
  background-color: rgb(246, 255, 0);
  &:hover {
    background-color: rgb(216, 223, 1);
  }
}
.cute {
  background-color: rgb(253, 203, 203);
  &:hover {
    background-color: rgb(251, 180, 180);
  }
}
.attribution {
  height: 22px;
  width: 110px;
  position: fixed;
  bottom: 0;
  margin: 0.5rem;
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  color: rgb(255, 95, 2);
  margin: 0.5rem;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  letter-spacing: 0.2px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3.5rem;
    margin-top: 3.5rem;
  }
  button {
    font-size: 1.5rem;
    height: auto;
    width: 150px;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
  }
  .gif-div {
    margin-top: 6rem;
  }
  img {
    aspect-ratio: 1 / 1;
    height: 40%;
    width: 97%;
  }
  .attribution {
    height: 35px;
    width: 200px;
    position: fixed;
    bottom: 0;
    margin: 1.2rem;
  }
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    color: rgb(255, 95, 2);
    margin: 1.5rem;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
}
